html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roo, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px;
  grid-template-areas:
        "pit13 pit12 pit11 pit10 pit9 pit8 pit7 pit6"
        "pit13 pit0 pit1 pit2 pit3 pit4 pit5 pit6";
}

.modal-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

#p2Store {
  grid-area: p2;
}

#p1Store {
  grid-area: p1;
}

#pit0 {
  grid-area: pit0;
}

#pit1 {
  grid-area: pit1;
}

#pit2 {
  grid-area: pit2;
}

#pit3 {
  grid-area: pit3;
}

#pit4 {
  grid-area: pit4;
}

#pit5 {
  grid-area: pit5;
}

#pit6 {
  grid-area: pit6;
}

#pit7 {
  grid-area: pit7;
}

#pit8 {
  grid-area: pit8;
}

#pit9 {
  grid-area: pit9;
}

#pit10 {
  grid-area: pit10;
}

#pit11 {
  grid-area: pit11;
}

#pit12 {
  grid-area: pit12;
}

#pit13 {
  grid-area: pit13;
}