body {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.board > section {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  background-color: #2196F3;
  justify-content: center;
}
.board > section > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}
/* section {
  display: grid;
  grid-template-rows: repeat(2, 10vmin);
  grid-template-columns: repeat(6, 10vmin);
  grid-gap: 10px;
}

.topPit1 {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}
.topPit2 {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}
.topPit3 {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
}
.topPit4 {
  grid-column: 4 / 6;
  grid-row: 1 / 2;
}
.topPit5 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.topPit6 {
  grid-column: 6 / 6;
  grid-row: 1 / 2;
}
/*  */
.botPit1 {
  grid-column: 1 / 6;
  grid-row: 2 / 2;
}
.botPit2 {
  grid-column: 2 / 6;
  grid-row: 2 / 2;
}
.botPit3 {
  grid-column: 3 / 6;
  grid-row: 2 / 2;
}
.botPit4 {
  grid-column: 4 / 6;
  grid-row: 2 / 2;
}
.botPit5 {
  grid-column: 5 / 6;
  grid-row: 2 / 2;
}
.botPit6 {
  grid-column: 6 / 6;
  grid-row: 2 / 2;
} */