html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
}

.board {
  display: grid;
  justify-content: center;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px;
  grid-template-areas:
        "topPit1 topPit2 topPit3 topPit4 topPit5 topPit6"
        "botPit1 botPit2 botPit3 botPit4 botPit5 botPit6";
}
#p2Store {
  text-align: left;
  margin-left: 80px;
  position: absolute;
  top: 103px;
}

#p1Store {
  text-align: right;
  /* margin-right:  */
  position: absolute;
  top: 100px;
  right: 134px;
}

#topPit1 {
  grid-area: topPit1;
}

#topPit2 {
  grid-area: topPit2;
}

#topPit3 {
  grid-area: topPit3;
}

#topPit4 {
  grid-area: topPit4;
}

#topPit5 {
  grid-area: topPit5;
}

#topPit6 {
  grid-area: topPit6;
}

#botPit1 {
  grid-area: botPit1;
}

#botPit2 {
  grid-area: botPit2;
}

#botPit3 {
  grid-area: botPit3;
}

#botPit4 {
  grid-area: botPit4;
}

#botPit5 {
  grid-area: botPit5;
}

#botPit6 {
  grid-area: botPit6;
}